<footer class="footer">
  <div class="container">
    <div class="scroll ">
      <div>
        <li>
          <a routerLink="/g">หมู่บ้าน</a>
        </li>
        <li><a routerLink="/orders">สถานะการจัดส่ง</a></li>
        <li>
          <a routerLink="/about-us">เกี่ยวกับเรา</a>
        </li>
        <li>
          <a routerLink="/how-to-use">วิธีใช้</a>
        </li>
        <li>
          <a routerLink="/contact-us">ติดต่อเรา</a>
        </li>
        <li>
          <a routerLink="/policy">Private Policy</a>
        </li>
        <li>
          <a routerLink="/faq">FAQs</a>
        </li>
      </div>
    </div>
    <p style="text-align: center; margin-bottom: 0;">© 2019 Pre-order Hub</p>
  </div>
</footer>
