<footer class="footer">
  <div class="container">
    <div class="scroll ">
      <div>
        <li>
          <a>หมู่บ้าน</a>
        </li>
        <li><a>สถานะการจัดส่ง</a></li>
        <li>
          <a>เกี่ยวกับเรา</a>
        </li>
        <li>
          <a>วิธีใช้</a>
        </li>
        <li>
          <a>ติดต่อเรา</a>
        </li>
        <li>
          <a>Private Policy</a>
        </li>
        <li>
          <a>FAQs</a>
        </li>
      </div>
    </div>
    <p style="text-align: center; margin-bottom: 0;">© 2019 Pre-order Hub</p>
  </div>
</footer>
