<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-2 pt-1">
        <!-- <a class="text-muted" href="#">Subscribe</a> -->
      </div>
      <div class="col-6 text-center">
        <a class="blog-header-logo text-dark" routerLink="groups"
          >Pre-order Hub</a
        >
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a
          *ngIf="!(userData | async)?.name"
          class="btn btn-outline-primary"
          (click)="loginWithLine()"
          >เข้าสู่ระบบ</a
        >

        <div
          *ngIf="(userData | async)?.name"
          ngbDropdown
          placement="bottom-right"
        >
          <img
            [src]="(userData | async)?.picture"
            class="user"
            alt=""
            role="button"
            id="userNav"
            ngbDropdownToggle
          />

          <div ngbDropdownMenu aria-labelledby="userNav">
            <a class="dropdown-item">รายการออเดอร์</a>
            <a class="dropdown-item">เปิดพรีออเดอร์</a>
            <a class="dropdown-item" (click)="logout()">ออกจากระบบ</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" [routerLink]="['groups']">หมู่บ้าน</a>
      <a class="p-2 text-muted">รายการพรีออเดอร์</a>
      <a class="p-2 text-muted" [routerLink]="['groups']">ติดต่อเรา</a>
    </nav>
  </div>
</div>
