.card_img {
  height: 220px;
  object-fit: cover;
  object-position: center;
  width: auto;
}
.card-title {
  font-size: 14px;
  line-height: 1.5em;
  overflow: hidden !important;
  max-height: 3em !important;
  text-overflow: ellipsis !important;
}
