<div class="container">
  <div class="card">
    <div class="card-body">
      <h4>Community</h4>
      <hr />

      <commu-form
        [commu]="community$ | async"
        (create)="onCreate($event)"
        (file)="onFile($event)"
        [fileUrl]="fileUrl$ | async"
        (update)="onUpdate($event)"
        (remove)="onRemove($event)"
      ></commu-form>
      <hr />

      <div class="row justify-content-between">
        <div class="col col-8"><h4>Members</h4></div>
        <div class="col col-4" style="text-align: right">
          <commu-add-member-modal
            [users$]="users$"
            (search)="onSearch($event)"
            (create)="onAddMember($event)"
          ></commu-add-member-modal>
        </div>
      </div>
      <members-display
        [community$]="community$"
        (remove)="onRemoveMember($event)"
      ></members-display>
      <hr />
    </div>
  </div>
</div>
